<% course_schedules.each do |schedule| %>
  <tr>
    <td>
      <div class="first-info">
        <%= load_course_image schedule.course, :avatar, "image-w67-h60" %>
        <span class="name"><%= schedule.course_name %></span>
        <span class="label"><%= schedule.course_technique %></span>
      </div>
    </td>
    <td><%= load_register_time schedule %></td>
    <td>
      <ul>
        <%= load_schedule_time_in_list schedule.day1, schedule.start_time1, schedule.end_time1 %>
        <%= load_schedule_time_in_list schedule.day2, schedule.start_time2, schedule.end_time2 %>
        <%= load_schedule_time_in_list schedule.day3, schedule.start_time3, schedule.end_time3 %>
      </ul>
    </td>
    <td>
      <span><%= number_to_currency schedule.course_cost, unit: "VND", precision: 0,
        delimiter: ".", format: "%n %u" %></span>
    </td>
    <td>
      <% if schedule.is_opening? %>
        <%= link_to new_registration_path(schedule: schedule.slug),
          class: "btn-reg", remote: true do %>
          <span><%= t ".register_now" %></span>
        <% end %>
      <% end %>
      <%= link_to course_schedule_path(schedule),
        class: "detail-link" do %>
        <span><%= t ".detail" %></span>
      <% end %>
    </td>
  </tr>
<% end %>
