<% course_schedules.each do |schedule| %>
  <tr>
    <td><%= schedule.course_name %></td>
    <td><%= load_register_time schedule %></td>
    <td>
      <p><%= load_schedule_time schedule.day1, schedule.start_time1, schedule.end_time1 %></p>
      <p><%= load_schedule_time schedule.day2, schedule.start_time2, schedule.end_time2 %></p>
      <p><%= load_schedule_time schedule.day3, schedule.start_time3, schedule.end_time3 %></p>
    </td>
    <td><%= number_to_currency schedule.course_cost, unit: "VND", precision: 0,
      delimiter: ".", format: "%n %u" %></td>
    <td class="btn-detail-course-schedule">
      <%= link_to course_schedule_path(schedule),
        class: "c-btn type-1 color-1" do %>
        <span><%= t ".detail" %></span>
      <% end %>
      <br/>
      <% if schedule.is_opening? %>
        <%= link_to new_registration_path(schedule: schedule.id),
          class: "c-btn type-1 color-2", remote: true do %>
          <span><%= t ".register_now" %></span>
        <% end %>
      <% end %>
    </td>
  </tr>
<% end %>
