<%
  meta_title t(".course_schedules")
  meta_keywords t(".keywords")
  meta_description t(".description")
  meta_author Settings.author
%>
<div id="breadcrumb" class="full-breadcrumb">
  <div class="container">
    <div class="header-page row">
      <div class="title-page col-md-6 col-sm-6">
        <h2><%= t ".course_schedules" %></h2>
      </div>
      <div class="breadcrumbs col-md-6 col-sm-6">
        <ul>
          <li><%= link_to t(".home"), root_path %></li>
          <li class="active"><span><%= t ".course_schedules" %></span></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="main-content" class="full-content">
  <div class="container">
    <div class="row">
      <div id="component" class="col-md-9">
        <div class="opening-time table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th><%= t ".course_name" %></th>
                <th><%= t ".duration" %></th>
                <th><%= t ".schedule_time" %></th>
                <th><%= t ".fee" %></th>
                <th><%= t ".view" %></th>
              </tr>
            </thead>
            <tbody>
              <%= render "course_schedule", course_schedules: @course_schedules %>
            </tbody>
          </table>
          <%= paginate @course_schedules %>
        </div>
      </div>

      <%= render "courses/right_sidebar_course" %>
    </div>
  </div>
</div>
