<%
  meta_title @course_schedule.course_name
  meta_keywords t(".keywords", technique: @course_schedule.course_technique,
    category: @course_schedule.course_category)
  meta_description t(".description", technique: @course_schedule.course_technique,
    category: @course_schedule.course_category)
  meta_author Settings.author
%>

<div id="breadcrumb" class="full-breadcrumb">
  <div class="container">
    <div class="header-page row">
      <div class="title-page col-md-6 col-sm-6">
        <h2><%= t ".detail_course" %></h2>
      </div>
      <div class="breadcrumbs col-md-6 col-sm-6">
        <ul>
          <li>
            <%= link_to t(".home"), root_path %>
          </li>
          <li>
            <%= link_to t(".schedule"), course_schedules_path %>
          </li>
          <li class="active"><span><%= t ".detail" %></span></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="main-content" class="full-content">
  <div class="container">
    <div class="row">
      <div id="component" class="col-md-9">
        <div class="banner">
          <%= load_course_image @course_schedule.course, :cover, "image-w880-h337" %>
        </div>
        <div class="detail-class">
          <%= render "courses/course_header", course: @course_schedule.course,
            newest_schedule: @course_schedule %>
          <div class="description">
            <%= markdown @course_schedule.course.content %>
          </div>
        </div>
      </div>

      <%= render "courses/right_sidebar_course" %>
    </div>
  </div>
</div>

