<div class="modal-dialog modal-md">
  <%= simple_form_for registration, remote: true do |f| %>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
          <%= t ".heading" %>: <%= registration.course_schedule.course.name %>
        </h4>
      </div>
      <div class="modal-body">
        <div class="col_full registration-info">
          <p><strong><%= t ".duration" %></strong></p>
          <p>
            <%= load_schedule_time registration.course_schedule.day1,
              registration.course_schedule.start_time1, registration.course_schedule.end_time1 %>
            <span>, </span>
            <%= load_schedule_time registration.course_schedule.day2,
              registration.course_schedule.start_time2, registration.course_schedule.end_time2 %>
            <span>, </span>
            <%= load_schedule_time registration.course_schedule.day3,
              registration.course_schedule.start_time3, registration.course_schedule.end_time3 %>
          </p>
          <p>
            <%= load_register_time registration.course_schedule %>
          </p>
        </div>
        <%= f.input :course_schedule_id, as: :hidden,
          input_html: {value: registration.course_schedule.id} %>
        <div class="col_half">
          <%= f.input :name, label: t(".name"), required: true,
            input_html: {class: "sm-form-control"} %>
        </div>
        <div class="col_half col_last">
          <%= f.input :email, label: t(".email"), required: true,
            input_html: {class: "sm-form-control"} %>
        </div>
        <div class="clear"></div>
        <div class="col_half">
          <%= f.input :phone, label: t(".phone"), required: true,
            input_html: {class: "sm-form-control"} %>
        </div>
        <div class="col_half col_last">
          <%= f.input :address, as: :string, label: t(".address"),
            input_html: {class: "sm-form-control"} %>
        </div>
        <div class="clear"></div>
      </div>
      <div class="modal-footer">
        <div class="c-btn type-1 color-1">
          <%= f.submit t(".submit") %>
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  <% end %>
</div>
