<div class="common-class">
  <h3><%= t ".popular_course" %></h3>
  <ul>
    <% popular_courses.each do |popular| %>
      <li>
        <div class="img-class">
          <%= link_to course_path(popular) do %>
            <%= load_course_image popular, :avatar %>
          <% end %>
        </div>
        <div class="info-class">
          <%= link_to popular.name, course_path(popular) %>
          <%= appear_cost popular %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
