<div id="top-b" class="full-top-b">
  <div class="container">
    <div class="new-class">
      <h2 class="title-box"><%= t ".lastest_courses" %></h2>
      <div class="js-class slide-class list-class">
        <% courses.each do |course| %>
          <div class="i-class">
            <div class="media">
              <%= link_to load_link(course) do %>
                <%= load_course_image course, :avatar, "image-w278-h203" %>
              <% end %>
            </div>
            <div class="info">
              <h3 class="name-class">
                <%= link_to course.name, load_link(course) %>
              </h3>
              <p class="date">
                <%= load_register_time course.newest_schedule %></p>
              <%= appear_cost course %>
              <span class="language"><%= course.technique %></span>
            </div>
          </div>
        <% end %>
      </div>
      <%= link_to courses_path, class: "view-all" do %>
        <%= t ".more" %>
      <% end %>
    </div>
  </div>
</div>
