<div id="showcase" class="full-showcase">
  <div class="container">
    <div class="row">
      <div class="left-box col-md-8 col-sm-8">
        <div class="js-slide media-slide">
          <div class="item"><a href=""><img alt="<%= t ".faa" %>"
            src="media/slide-1.jpg"></a></div>
          <div class="item"><a href=""><img alt="<%= t ".faa" %>"
            src="media/slide-2.jpg"></a></div>
          <div class="item"><a href=""><img alt="<%= t ".faa" %>"
            src="media/slide-3.jpg"></a></div>
        </div>
      </div>

      <% if course %>
        <div class="right-box col-md-4 col-sm-4">
          <div class="box-info">
            <div class="top-banner">
              <a href="javascript:;"><img alt="<%= t ".faa" %>" src="media/banner10.png"></a>
            </div>
            <div class="top-info">
              <h2>
                <%= link_to load_link course do %>
                  <%= t ".ruby_course" %> <br> (<%= t ".ruby_dev" %>)
                <% end %>
              </h2>
              <p class="time">
                <%= load_register_time course.newest_schedule %></p>
              <%= appear_cost course.cost %>
              <% if course.newest_schedule %>
                <%= link_to new_registration_path(schedule: course.newest_schedule.slug),
                  class: "registration", remote: true do %>
                  <%= t ".register" %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
