<div id="middle" class="full-midde">
  <div class="container">
    <div class="our-team">
      <h2 class="title-box"><%= t ".trainers" %></h2>
      <p class="desc-box col-md-8 col-md-offset-2"><%= t ".introduce" %></p>
      <div class="all-member">
        <% trainers.each do |trainer| %>
          <%= link_to trainer_path(trainer) do %>
            <div class="member col-md-4 col-sm-6">
              <div class="inbox">
                <div class="unhover-info">
                  <h3 class="name-member"> <%= trainer.name %> <span class="job"><%= trainer.position %> </span></h3>
                  <div class="avatar">
                    <%= image_tag trainer.image.present? ? trainer.image.url : "user_default.jpg" %>
                  </div>
                  <p class="intro"> <%= truncate trainer.quote, length: Settings.home.trainer_quote_limit %></p>
                </div>
                <div class="hover-info">
                  <div class="full-avatar">
                    <%= image_tag trainer.image.present? ? trainer.image.url : "user_default.jpg" %>
                  </div>
                  <h3 class="name"><%= trainer.name %><span class="job"><%= trainer.position %></span></h3>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="view-all-trainers">
      <%= link_to t(".more"), trainers_path %>
    </div>
  </div>
</div>
