<div id="top-a" class="full-top-a">
  <div class="container">
    <div class="all-features">
      <h2 class="title-box"><%= t ".who_we_are" %></h2>
      <p class="desc-box col-md-8 col-md-offset-2">
        <%= t ".text" %>
      </p>
      <div class="list-features">
        <div class="item item-1 col-md-3 col-sm-6">
          <div class="content-item">
            <h3><%= t ".agile_title" %></h3>
            <p><%= t ".agile" %></p>
          </div>
        </div>
        <div class="item item-2 col-md-3 col-sm-6">
          <div class="content-item">
            <h3><%= t ".network_title" %></h3>
            <p><%= t ".network" %></p>
          </div>
        </div>
        <div class="item item-3 col-md-3 col-sm-6">
          <div class="content-item">
            <h3><%= t ".certificate_title" %></h3>
            <p><%= t ".certificate" %></p>
          </div>
        </div>
        <div class="item item-4 col-md-3 col-sm-6">
          <div class="content-item">
            <h3><%= t ".teaching_title" %></h3>
            <p><%= t ".teaching" %></p>
          </div>
        </div>
        <div class="item item-5 col-md-3 col-sm-6">
          <div class="content-item">
            <h3><%= t ".expert_title" %></h3>
            <p><%= t ".expert" %></p>
          </div>
        </div>
        <div class="item item-6 col-md-3 col-sm-6">
          <div class="content-item">
            <h3><%= t ".job_title" %></h3>
            <p><%= t ".job" %></p>
          </div>
        </div>
        <div class="item item-7 col-md-3 col-sm-6">
          <div class="content-item">
            <h3><%= t ".sort_skill_title" %></h3>
            <p><%= t ".sort_skill" %></p>
          </div>
        </div>
        <div class="item item-8 col-md-3 col-sm-6">
          <div class="content-item">
            <h3><%= t ".activities_title" %></h3>
            <p><%= t ".activities" %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
