<% newses.each do |news| %>
  <div class="article-item">
    <div class="article-media col-md-4 col-sm-4">
      <%= link_to news_path(news) do %>
        <%= load_image news, "", "/media/new-1.jpg" %>
      <% end %>
    </div>
    <div class="article-content col-md-8 col-sm-8">
      <h3 class="article-name">
        <%= link_to news.title, news_path(news) %>
      </h3>
      <p class="date"><%= l news.created_at, format: :date_month_year_concise %></p>
      <p class="short-content">
        <%= markdown(truncate news.content, length: Settings.news.short_content) %>
      </p>
    </div>
  </div>
<% end %>
