<%= provide :title, t(".news") %>
<div id="breadcrumb" class="full-breadcrumb">
  <div class="container">
    <div class="header-page row">
      <div class="title-page col-md-6 col-sm-6">
        <h2><%= t ".news" %></h2>
      </div>
      <div class="breadcrumbs col-md-6 col-sm-6">
        <ul>
          <li><%= link_to t(".home"), root_path %></li>
          <li class="active"><span><%= t ".news" %></span></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="main-content" class="full-content">
  <div class="container">
    <div class="row">
      <div id="component" class="col-md-9">
        <div class="list-article">
          <%= render "news", newses: @newses %>
          <%= paginate @newses %>
        </div>
      </div>

      <%= render "courses/right_sidebar_course" %>
    </div>
  </div>
</div>
