<div id="breadcrumb" class="full-breadcrumb">
  <div class="container">
    <div class="header-page row">
      <div class="title-page col-md-6 col-sm-6">
        <h2><%= t ".course_register" %></h2>
      </div>
      <div class="breadcrumbs col-md-6 col-sm-6">
        <ul>
          <li><%= link_to t(".home"), root_path %></li>
          <li><%= link_to t(".courses"), courses_path %></li>
          <li class="active"><span><%= t ".course_register" %></span></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="main-content" class="full-content">
  <div class="container">
    <div class="regis-successfully">
      <span class="ic-success"><img alt="" src="/images/ic-bigcheck.png"></span>
      <h3><%= t ".thank" %> <%= @temporary_registration.course_name %></h3>
      <p><%= t ".contact" %></p>
      <div class="group-links">
        <%= link_to t(".this_course"), course_path(@temporary_registration.course) %>
        <%= link_to t(".more_course"), courses_path %>
      </div>
    </div>
  </div>
</div>
