<%= simple_form_for feedback, id: "contact-form", remote: true do |f| %>
  <div class="group-fields row">
    <div class="odd col-md-6 col-sm-6">
      <%= f.input :name, label: t(".name"), required: true,
        class: "input-text long-input" %>
    </div>
    <div class="even col-md-6 col-sm-6">
      <%= f.input :subject, label: t(".subject"), required: true,
        class: "input-text long-input" %>
    </div>
  </div>
  <div class="group-fields row">
    <div class="odd col-md-6 col-sm-6">
      <%= f.input :email, label: t(".email"), required: true,
        class: "input-text long-input" %>
    </div>
    <div class="even col-md-6 col-sm-6">
      <%= f.input :phone, label: t(".phone"), class: "input-text long-input" %>
    </div>
  </div>
  <div class="group-fields">
    <%= f.input :content, label: t(".content"), as: :text, required: true,
      input_html: {rows: 5} %>
  </div>
  <%= f.submit t(".submit"), class: "btn-submit" %>
<% end %>
