<%= provide :title, t(".title") %>

<div id="breadcrumb" class="full-breadcrumb">
  <div class="container">
    <div class="header-page row">
      <div class="title-page col-md-6 col-sm-6">
        <h2><%= t ".title" %></h2>
      </div>
      <div class="breadcrumbs col-md-6 col-sm-6">
        <ul>
          <li><%= link_to t(".home"), root_path %></li>
          <li class="active"><span><%= t ".title" %></span></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="main-content" class="full-content">
  <div class="container">
    <div class="contact-page">
      <div class="full-address">
        <div class="maps">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.4004072306534!2d105.77970315002621!3d21.01665888593618!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab0d69594b35%3A0x56c7da1281efdc2f!2sHandico+Tower!5e0!3m2!1svi!2s!4v1501146934906" class="maps-frame" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="address-box">
          <img src="/images/logo-contact.png">
          <p><%= t ".framgia_address" %></p>
          <p class="tel"><a href="tel:<%= Settings.framgia.phone_number %>">
            <%= Settings.framgia.phone_text %></a></p>
          <a class="email" href="mailto:<%= Settings.framgia.email %>">
            <%= Settings.framgia.email %></a>
        </div>
      </div>

      <div class="contact-form">
        <p class="notice"><%= t ".title_text1" %><br/><%= t ".title_text2" %></p>
        <%= render "form", feedback: @feedback %>
      </div>
    </div>
  </div>
</div>
