<div class="empty-space marg-lg-b90 marg-sm-b50 marg-xs-b30"></div>
<div class="tt-heding type-2">
  <h2 class="tt-heding-title c-h4 txt-uppercase">
    <span><%= course.name %></span>
  </h2>
</div>
<div class="empty-space marg-lg-b25"></div>

<div class="simple-text size-4 color-3">
  <p><%= course.description %></p>
</div>
<div class="empty-space marg-lg-b50"></div>

<div class="tt-simple-image-2">
  <%= load_image course, "image-course" %>
</div>

<div class="empty-space marg-lg-b10"></div>
<div class="tt-author">
  <div class="tt-author-avacell">
    <div class="tt-author-ava">
      <div class="tt-author-imgcell">
        <div class="round">
          <img src="/assets/introduction/teaching.png" class="image-author" alt="">
        </div>
      </div>
      <div class="tt-author-infocell">
        <div class="tt-author-position"><%= t ".place" %></div>
        <p class="tt-author-name"><%= t ".framgia_vietnam" %></p>
      </div>
    </div>
  </div>
  <div class="tt-author-pricecell tt-author-ratecell">
    <%= number_to_currency course.cost, unit: "đ", precision: 0,
    delimiter: ".", format: "%n %u" %>
  </div>
</div>
<div class="empty-space marg-lg-b30"></div>

<%= render "course_schedules", course: course if course.course_schedules.any? %>

<div class="empty-space marg-lg-b85 marg-sm-b50 marg-xs-b30"></div>
