<div class="view-class">
  <div class="media col-md-4 col-sm-4">
    <%= link_to course_path(course) do %>
      <%= load_image course, "image-h210" %>
    <% end %>
  </div>
  <div class="info col-md-8 col-sm-8">
    <h3 class="name-class">
      <%= link_to course.name, course_path(course) %>
    </h3>
    <p class="date">
      <%= load_register_time course.newest_schedule %>
    </p>
    <p class="short-desc">
      <%= truncate course.description,
        length: Settings.courses.length_description %>
    </p>
    <div class="bottom-info">
      <%= appear_cost course.cost %>
      <span class="language"><%= course.technique %></span>
    </div>
  </div>
</div>
