<div class="col-md-3">
  <div class="pleft20">
    <div class="empty-space marg-lg-b90 marg-sm-b50 marg-xs-b30"></div>
    <div class="tt-heding type-3">
      <h5 class="tt-heding-title c-h5 txt-uppercase">
        <span><small><%= t ".course_category" %></small></span>
      </h5>
    </div>
    <div class="empty-space marg-lg-b10"></div>
    <ul class="tt-slist">
      <% @course_categories.each do |cate| %>
        <li><%= link_to cate.name, courses_path(course_category: cate.name) %></li>
      <% end %>
    </ul>
    <div class="empty-space marg-lg-b30"></div>
    <%= render "shared/popular_course", popular_courses: @popular_courses %>
    <%= render "shared/latest_news", latest_news: @latest_news %>
    <%= render "shared/tags", tags: @popular_tags %>
  </div>                    
</div>
