<%
  meta_title t(".all_course")
  meta_keywords t(".keywords")
  meta_description t(".description")
  meta_author Settings.author
%>
<%= render "shared/top_heading", title: t(".all_course"),
  page_name: t(".course") %>
<div id="main-content" class="full-content">
  <div class="container">
    <div class="row">
      <div id="component" class="col-md-9">
        <div class="category-view">
          <div class="search-bar">
            <%= form_tag courses_path, method: "get", multipart: true,
              class: "search-form col-md-9 col-sm-9" do %>
              <div class="search">
                <%= text_field_tag :words, nil, class: "input-text",
                  placeholder: t(".search_course") %>
                <%= submit_tag t(".search"), class: "btn-submit btn-blue" %>
              </div>
            <% end %>
          </div>

          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#grid-layout" data-toggle="tab"><i class="fa fa-th-large" aria-hidden="true"></i></a></li>
            <li role="presentation" class=""><a href="#list-layout" data-toggle="tab"><i class="fa fa-list-ul" aria-hidden="true"></i></a></li>
          </ul>

          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="grid-layout">
              <div class="grid-view list-class row">
                <% @courses.each do |course| %>
                  <%= render "course_grid", course: course %>
                <% end %>
              </div>

            <%= link_to_next_page @courses, t(".load_more"),
              class: "load-more", remote: true %>
            </div>
            <div role="tabpanel" class="tab-pane" id="list-layout">
              <div class="list-view">
                <% @courses.each do |course| %>
                  <%= render "course_list", course: course %>
                <% end %>
              </div>

              <a class="load-more" href="">Xem thêm</a>
            </div>
          </div>
        </div>
      </div>
      <%= render "right_sidebar_course" %>
    </div>
  </div>
</div>
