<div class="row">
  <div class="col-md-4">
    <div class="tt-simple-image trainer-avatar">
      <%= image_tag trainer.image.present? ? trainer.image.url : "user_default.jpg",
        class: "img-responsive" %>
    </div>
    <div class="empty-space marg-sm-b40"></div>
  </div>
  <div class="col-md-6 col-md-offset-1 col-lg-5">
    <div class="tt-heding type-2">
      <h2 class="tt-heding-title c-h4 txt-uppercase"><span><%= trainer.name %></span></h2>
      <div class="tt-heding-desc"><%= t ".about_me" %></div>
    </div>
    <div class="empty-space marg-lg-b45 marg-sm-b30"></div>

    <ul class="tt-teacher-table">
      <li>
        <div><%= t ".name" %> :</div>
        <div><%= trainer.name %></div>
      </li>
      <li>
        <div><%= t ".email" %> :</div>
        <div><%= trainer.email %></div>
      </li>
      <li>
        <div><%= t ".phone" %> :</div>
        <div><%= trainer.phone %></div>
      </li>
      <li>
        <div><%= t ".office" %> :</div>
        <div><%= trainer.office %></div>
      </li>
      <li>
        <div><%= t ".certification" %> :</div>
        <div>
          <ul class="list-inline trainers-trainer-cer">
            <% trainer.certifications.each do |certification| %>
              <li>
                <%= image_tag certification.image.url,
                  class: "icon-certification-index",
                  data: {toggle: "tooltip"}, title: certification.name %>
              </li>
            <% end %>
          </ul>
        </div>
      </li>
      <li>
        <div><%= t ".quote" %> :</div>
        <div><%= trainer.quote %></div>
      </li>
    </ul>
  </div>
</div>
