<% trainers.each do |trainer| %>
  <div class="member col-md-4 col-sm-6">
    <div class="inbox">
      <div class="unhover-info">
        <h3 class="name-member">
          <%= trainer.name %>
          <span class="job"><%= trainer.position %></span>
        </h3>
        <div class="avatar">
          <%= load_image trainer %>
        </div>
        <p class="intro">
          <%= truncate trainer.quote, length: Settings.home.trainer_quote_limit %>
        </p>
      </div>
      <div class="hover-info">
        <div class="full-avatar">
          <%= link_to trainer_path(trainer) do %>
            <%= load_image trainer, "image-w296-h352" %>
          <% end %>
        </div>
        <h3 class="name">
          <%= link_to trainer_path(trainer) do %>
            <%= trainer.name %>
            <span class="job"><%= trainer.position %></span>
          <% end %>
        </h3>
      </div>
    </div>
  </div>
<% end %>
