<%= provide :title, t(".title") %>
<%= render "shared/top_heading", title: t(".title_heading"),
  page_name: t(".title") %>

<div id="main-content" class="full-content">
  <div class="container">
    <div class="member-page">
      <p class="desc-page">
        <p><%= t ".description" %></p>
      </p>
      <div class="all-member row">
        <%= render "trainers", trainers: @trainers %>
        <%= paginate @trainers %>
      </div>
    </div>
  </div>
</div>
