<div id="footer" class="full-footer">
  <div class="footer-menu">
    <div class="container">
      <div class="row">
        <div class="contact col-md-5 col-sm-4">
          <img src="/images/logo-footer.png">
          <div class="contact-us">
            <p><%= t ".framgia_address" %></p>
            <p><a href="tel:<%= Settings.framgia.phone_number %>">
              <%= Settings.framgia.phone_text %></p>
            <a href="mailto:<%= Settings.framgia.email %>">
              <%= Settings.framgia.email %></a>
            <a class="social" href="<%= Settings.framgia.facebook %>" target="_blank">
              <img src="/images/ic-facebook.png"></a>
          </div>
        </div>

        <div class="all-classes col-md-2 col-sm-3">
          <h3><%= t ".our_courses" %></h3>
          <ul class="menu">
            <% @courses.each do |course| %>
              <li><%= link_to course.name, course_path(course) %></li>
            <% end %>
          </ul>
        </div>

        <div class="news col-md-5 col-sm-5">
          <h3><%= t ".news" %></h3>
          <ul class="menu">
            <% @latest_news.each do |news| %>
              <li><%= link_to news.title, news_path(news) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="copyright">
    <div class="container">
      <p><%= t ".copyright" %></p>
    </div>
  </div>
  <a class="js-ontop btn-ontop">
    <span><i class="fa fa-angle-up" aria-hidden="true"></i></span>
  </a>
</div>
