<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui"/>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,800" rel="stylesheet" type="text/css">
  </head>

  <body>
    <%= render "layouts/messages" %>
    <%= render "layouts/header" %>
    <div class="tt-header-margin"></div>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
